.container {
  width: 100%;
  max-width: $mobile;

  margin: 0 auto;
  padding-left: 20px; // Влад ?
  padding-right: 20px;

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
