.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) and (max-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
