//Как это работает?
//нужно вставить например в h2{@extend %sec-t;} и у вас стили все подтянулись. Добавляем только color и заголовок готов

//Свойства текста без цвета "Hellen"
%logo-text {
	font-weight: 800;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 0em;
}

//Свойства текста без цвета "Адский английский"
%logo-sub {
	font-weight: bold;
	font-size: 8px;
	line-height: 10px;
	letter-spacing: 0.18em;
	text-transform: uppercase;
}

//Заголовок h1
%hero-t {
	font-weight: 800;
	line-height: 136%;
	letter-spacing: 0.03em;
	color: rgba(17,21,24,1);
}

//Заголовки h2 размеры без цвета desktop
%sec-t-desktop {
	font-weight: 800;
	font-size: 46px;
	line-height: 60%;
	letter-spacing: 0.03em
}


//Заголовки h2 размеры без цвета tablet
%sec-t-tablet {
	font-weight: 800;
	line-height: 130%;
	letter-spacing: 0.03em;
	font-size: 26px;
}


//Заголовки h2 размеры без цвета tablet
%sec-t-mobile{
	font-weight: 800;
	font-size: 20px;
	line-height: 130%;

	text-align: center;
	letter-spacing: 0.03em;
}


//Контентный текст секций guaranties, advantages, problems, subtitle cards in affairs только размеры
%text-desktop {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.08em;

}

%text-tablet-mobile {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;

}


//контентный текст без цвета для секций reviews, about, programs, affairs cards
%descr-desktop {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.08em;
}

%descr-tablet-mobile {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.08em;
}

//Для buttons секции header, hero, contacts. Основной набор всех свойств кроме border, bacground, color
%button-desktop {
	display: flex;
	justify-content: center;
	align-items: center;
   padding: 27px 25px 26px 26px;


	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

%button-tablet {
	display: flex;
	justify-content: center;
	align-items: center;
   padding: 17px 9px 16px 10px;


	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

%button-tablet-mobile{
	display: flex;
	justify-content: center;
	align-items: center;
   padding: 14px 10px;

	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	max-width:  260px;
}

//Для nav_link desctop
%menu-d 	{
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;

	color: rgba(185,185,185,1);
}

//Для nav__link mobile&tablet menu
%menu-m-t {
	font-weight: 800;
	line-height: 180%;

	letter-spacing: 0.03em;

	color: rgba(255,255,255,1);
}