// основной цвет текста черный
$main-text: rgba(17, 21, 24, 1);
// цвет-акцент оранжевый
$accent: rgba(255, 107, 9, 1);
// серый текст
$grey-text: rgba(185, 185, 185, 1);
// черный бэкграунд (секция "проблемы", "программы", "футер")
$black-background: rgba(17, 21, 24, 1);
// серый бэкграунд (секция "мы гарантируем")
$grey-background: rgba(241, 241, 241, 1);
// цвет изображения на бэкграунде, цвет текста из разделов "Отзывы", "Мы гарантируем" (секция "проблемы")
$grey-dark-text: rgba(61, 61, 61, 1);
//белый цвет текста и картинки при ховере на секцию "Как мы это делаем"
$white-color: rgba(255, 255, 255, 1);


// точки перелома
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

//анимация 
$function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
