<section class="about wow fadeInUp" id="about">
    <div class="container">
        <h2 class="about__title">Преподаватель</h2>
        <div class="about__content">
            <div class="about__thumb">
            <img
                class="about__photo"
                srcset="images/about/about.jpg 1x, images/about/about@2x.jpg 2x"
                src="images/about/about.jpg"
                alt="Преподаватель"
            />
            </div>

        <div class="about__text">
            <h3 class="about__wrapper-title">Елена Морева</h3>
            <ul class="about__list">
                <li class="about__item">Опыт подготовки учеников к ВНО - 6 лет</li>
                <li class="about__item">Собственный результат сдачи ВНО - 197 баллов 2 года подряд </li>
                <li class="about__item">Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)</li>
            </ul>
            <p class="about__description">Высшее образование  получила в Институте международных отношений НАУ по специальности переводчик-аналитик.</p>
            <p class="about__description">В свободное время  проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания сочинений.</p>
            <p class="about__description">В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</p>
            <a class="about__link" href="#">Cambrige English Entry Level Certificate</a>
        </div>
        </div>

    </div>
</section>