<section>
    <div class="container">
        <h2 class="visually-hidden">Наши преимущества</h2>

        <ul>
            <li>
                <p>
                    Адаптированная авторская программа ВНО
                </p>
            </li>

            <li>
                <p>
                    Современные методики обучения
                </p>
            </li>

            <li>
                <p>
                    Финансовая гарантия результата
                </p>
            </li>
        </ul>
    </div>
</section>