<section class="benefits">
    <div class="container">
        <h2 class="benefits__title">Почему нас выбирают</h2>
        <ul class="benefits__list">
            <li class="benefits__item">
                <p class="benefits__text">Обучение в малых командах</p>
            </li>

            <li class="benefits__item">
                <p class="benefits__text">Визуализированные конспекты</p>
            </li>

            <li class="benefits__item">
                <p class="benefits__text">Каждое занятие имеет цель и конкретный результат</p>
            </li>

            <li class="benefits__item">
                <p class="benefits__text">Ревльные результаты преподавателя</p>
            </li>

            <li class="benefits__item">
                <p class="benefits__text">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>

            <li class="benefits__item">
                <p class="benefits__text">Набор команд по уровням знаний</p>
            </li>
        </ul>
    </div>
</section>