<section class="benefits">
    <div class="container">
        <h2 class="benefits__title">Почему нас выбирают</h2>
        <ol class="benefits__list">
                
            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Обучение в малых командах</p>
            </li>
                
            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Визуализированные конспекты</p>
            </li>
                
            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Каждое занятие имеет цель и конкретный результат</p>
            </li>
                
            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Ревльные результаты преподавателя</p>
            </li>
                
            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>
                
            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Набор команд по уровням знаний</p>
            </li>
        </ol>
    </div>
</section>