<section class="benefits wow fadeInUp">
    <div class="container container__ben">
        <div class="title__wrap">
            <h2 class="benefits__title">Почему нас выбирают</h2>
        </div>

        <ol class="benefits__list">

            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Обучение в малых командах</p>
            </li>

            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Визуализированные конспекты</p>
            </li>

            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Каждое занятие имеет цель и конкретный результат</p>
            </li>

            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Реальные результаты преподавателя</p>
            </li>

            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Программа курса соответствует требованиям МОН Украины</p>
            </li>

            <li class="benefits__item">
                <span class="benefits__dash">—</span>
                <p class="benefits__text">Набор команд по уровням знаний</p>
            </li>
        </ol>
    </div>
</section>