        <section class="contacts">
            <div class="contacts__form">
                <h2 class="contacts__title">
                    Регистрация на <span class="contacts__title--accent">бесплатную</span> телефонную <span class="contacts__title--accent">консультацию</span> по нюансам ЗНО по английскому языку
                </h2>
                <form>
                    <p class="form__text">
                        Оставь заявку на участие в <span class="form__text--accent">бесплатном</span> занятии. С вами свяжется консультант и ответит на вопросы
                    </p>
                    <div class="contacts__form">
                        <input class="contacts__form-item" type="text" name="name" id="name" placeholder="Имя*"/>
                    </div>
                    <div>
                        <input class="contacts__form-item" type="tel" name="tel" id="tel" placeholder="Телефон*"/>
                    </div>
                    <button class="contacts__form-button" type="submit">хочу на бесплатное занятие</button>
                </form>
            </div>
        </section>
