        <section>
            <form>
                <h3>
                    Регистрация на <span>бесплатную</span> телефонную <span>консультацию</span> по нюансам ЗНО по английскому языку
                </h3>
                <p>
                    Оставь заявку на участие в <span>бесплатном</span> занятии. С вами свяжется консультант и ответит на вопросы
                </p>
                <div>
                    <input type="text" name="name" id="name" placeholder="Имя*"/>
                </div>
                <div>
                    <input type="tel" name="tel" id="tel" placeholder="Телефон*"/>
                </div>
                <button type="submit">хочу на бесплатное занятие</button>
            </form>
        </section>
