<section class="contacts wow fadeInUp" id="lesson">
    <div class="container">
        <div class="contacts__wrapper">
            <h2 class="contacts__title">
                Регистрация на <span class="contacts__title--accent">бесплатную</span> телефонную <span
                    class="contacts__title--accent">консультацию</span> по нюансам ЗНО по английскому языку
            </h2>
            <p class="form__text">
                Оставь заявку на участие в <span class="form__text--accent">бесплатном занятии.</span> С вами свяжется
                консультант и ответит на вопросы
            </p>
        </div>
        <form class="contacts__form">
            <div class="contacts__input">
                <input class="contacts__form-item" type="text" name="name" id="name" placeholder="Имя*"
                    pattern="[A-z]{1-25}" title="Username should contain uppercase and lowercase letters. e.g. Ivan Ivanov" />
                <input class="contacts__form-item" type="tel" name="tel" id="tel" placeholder="Телефон*"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                    title="Please enter your phone number in the format *operator code*-xxx-xx-xx"/>
            </div>
            <button class="contacts__form-button" type="submit">хочу на бесплатное занятие</button>
        </form>
    </div>
</section>