<footer>
    <div class="container">
        <div class="footer__main">
            <a class="logo" href="#">
                <p class="logo__maintext">Hell</p>
                <svg class="logo__icon" width="15px" height="20px">
                    <use href=""></use>
                </svg>
                <p class="logo__additionaltext">en</p>
                <p class="logo__text">Адский <span class="logo__text--painted">английский</span></p>
            </a>
            <ul class="footer__contacts">
                <li class="footer__item">
                    <a class="footer__link" href="tel:+38(000)0000000" target="_blank" rel="noreferrer noopener">
                        <svg width="20px" height="19px">
                            <use href="./images/symbol-defs-optimized.svg#phone"></use>
                        </svg>
                        +38(000)0000000
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__instagram-icon" href="#" target="_blank" rel="noreferrer noopener">
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer__copyright"> &copy; Все права защищены, 2019</p>           
    </div>
</footer>