<div class="container">
    <a class="footer__logo" href="../index.html">
        Hell
        <svg class="footer__logo-icon" width="15px" height="20px">
            <use href="./images/symbol-defs-optimized.svg#flame"></use>
        </svg>
        EN
        <br>
        <span>Адский английский</span>
    </a>
    <ul class="footer__contacts">
        <li class="footer__item">
            <a class="footer__link" href="tel:+38 (000) 000 00 00">
                <svg width="20px" height="19px">
                    <use href="./images/symbol-defs-optimized.svg#phone"></use>
                </svg>
                +38(000)0000000
            </a>
        </li>
        <li class="footer__item">
            <a class="footer__link" href="#">
                <svg width="40px" height="40px">
                    <use href="./images/symbol-defs-optimized.svg#instagram"></use>
                </svg>
            </a>
        </li>
    </ul>
    <p class="footer__copyright"> &copy; Все права защищены, 2019</p>
</div>
