<footer class="footer wow fadeInUp" id="footer">
    <div class="container footer__container">
        <div class="footer__main">
            <a class="footer__logo" href="index.html">
                <div class="footer__logotop">
                    <span class="footer__logomain">Hell</span>
                    <svg class="logo__icon">
                        <use href="images/symbol-defs-optimized.svg#flame"></use>
                    </svg>
                    <span class="footer__logoadd">en</span>
                </div>
                
                <p class="footer__logotext"><span class="footer__logotext--painted">Адский </span>английский</p>
            </a>
            <ul class="footer__contacts">
                <li class="footer__item">
                    <a class="footer__tel" href="tel:+38(000)0000000" target="_blank" rel="noreferrer noopener">
                        <svg class="footer__tel-icon">
                            <use href="images/symbol-defs-optimized.svg#phone"></use>
                        </svg>
                        +38 (000) 000 00 00
                    </a>
                </li>
                <li class="footer__item">
                    <a href="#" target="_blank" rel="noreferrer noopener">
                        <img class="footer__instagram-icon" src="images/svg/instagram.svg" alt="instagram">
                    </a>
                </li>
            </ul>
        </div>
         
        <p class="footer__copyright"> &copy; Все права защищены, 2019</p>           
    </div>
</footer>