<section class="guarantee wow fadeInUp" id="guarantee">
    <div class="container guarantee__container">
        <h2 class="guarantee__title">Мы гарантируем</h2>
        <ul class="guarantee__list">
            <li class="guarantee__item">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании. Иначе мы
            вернем деньги.<span class="guarantee__item-accent">*</span>
            </li>
            <li class="guarantee__item">Ты научишься писать сочинения минимум на 10 баллов из 14. <span
                    class="guarantee__item-accent">В то время как 20% учеников получили за сочинение 0.</span></li>
            <li class="guarantee__item">Ты будешь заниматься в своем районе. Мы выберем место проведения занятий после
                формирования команд.</li>
            <li class="guarantee__item">Кoоманды будут сформированы, исходя из начального уровня учеников. Мы учитываем
                особенности каждого ученика.</li>
            <li class="guarantee__item">Кoоманды будут сформированы, исходя из начального уровня учеников. Мы учитываем особенности каждого ученика.
            </li>
        </ul>
    </div>
</section>