<section class="hero">
	<div class="container">
		<div class="hero__wrapper">
			<h1 class="hero__title">
				Комплексная подготовка к ВНО по английскому языку
			</h1>
			<p class="hero__text">
				<span class="hero__text--grey">Просто не будет.</span> 
				<span class="hero__text--common">Но ты гарантировано наберешь</span> 
				<span class="hero__text--orange">+25 баллов</span>
			</p>
			<button class="hero__btn" type="button">хочу на бесплатное занятие</button>
		</div>
		<div class="hero__img-thumb">
			<img class="hero__img" src="images/hero/ellipse-1x.jpg" srcset="images/hero/ellipse-1x.jpg 1x, 	images/hero/ellipse-2x.jpg 2x, images/hero/ellipse-3x.jpg 3x" 	alt="Бесплатное занятие">
		</div>
	</div>
</section>
