<section class="hero wow fadeInUp">
	<div class="hero__page-container">
		<div class= "hero__container">
			<div class="hero__wrapper">
				<h1 class="hero__title">
				Комплексная<br/> подготовка к ВНО<br/> по английскому 	<span class="hero__title hero__title--wrap">языку</span>
				</h1>
				<p class="hero__text">
					<span class="hero__text hero__text--grey">Просто не будет.</span> 
					<span class="hero__text hero__text--common">Но ты гарантировано наберешь</span> 
					<span class="hero__text hero__text--orange">+25 баллов</span>
				</p>
				<a href="#lesson" class="hero__link">хочу на бесплатное занятие</a>
			</div>
			<div class="hero__thumb">

				<img class="hero__img" src="images/hero/hero-img1x.png" srcset="images/hero/hero-img1x.png 1x, images/hero/hero-img2x.png 2x, images/hero/hero-img3x.png 3x"	alt="Бесплатное занятие">
			</div>
		</div>
	</div>
</section>
