<section class="hero">
	<div class="container">
		<div class="hero__wrapper">
			<h1 class="hero__title">
				Комплексная подготовка к ВНО по английскому языку
			</h1>
			<p class="hero__text">
				<span class="hero__text hero__text--grey">Просто не будет.</span> 
				<span class="hero__text hero__text--common">Но ты гарантировано наберешь</span> 
				<span class="hero__text hero__text--orange">+25 баллов</span>
			</p>
			<a href="#" class="hero__link">хочу на бесплатное занятие</a>
		</div>
		<div class="hero__thumb">
			<img class="hero__img" src="images/hero/hero-img1x.png" srcset="images/hero/hero-img1x.png 1x, images/hero/hero-img2x.png 2x, images/hero/hero-img3x.png 3x"	alt="Бесплатное занятие">
		</div>
	</div>
</section>
