<section class="program wow fadeInUp" id="program">
    <div class="container program__picture">
        <h2 class="program__title">Наша программа</h2>
        <ul class="program__list--period">
            <li class="program__item">
                <p class="program__period">1 семестр</p>
                <ul class="program__list--topic">
                    <li class="program__portion grammar">
                        <p class="program__subject">— Grammar</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Nouns & Articles</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Adjectives & Adverb</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program__portion vocabulary">
                        <p class="program__subject">— Vocabulary</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Family & Relations</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">People & Society</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <p class="program__period">2 семестр</p>
                <ul class="program__list--topic">
                    <li class="program__portion grammar">
                        <p class="program__subject">— Grammar</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Pronouns</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Active Voice</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Passive Voice</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program__portion vocabulary">
                        <p class="program__subject">— Vocabulary</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Home</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">School</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Work</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <p class="program__period">3 семестр</p>
                <ul class="program__list--topic">
                    <li class="program__portion grammar">
                        <p class="program__subject">— Grammar</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Modal verbs</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Infinitive</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Gerund</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Participle: 1, 2</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program__portion vocabulary">
                        <p class="program__subject">— Vocabulary</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Travel & Tourism</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Culture & Free Time</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Sport</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program__portion writing">
                        <p class="program__subject">— Writing</p>
                        <p class="program__description program__theme">Informal Letter</p>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <p class="program__period">4 семестр</p>
                <ul class="program__list--topic">
                    <li class="program__portion grammar">
                        <p class="program__subject">— Grammar</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Clauses: Conditional and Wishes</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Direct / Reported speech</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Preposition</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Conjunction</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Numeral</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program__portion vocabulary">
                        <p class="program__subject">— Vocabulary</p>
                        <ul class="program__list--sub-topic">
                            <li class="program__theme">
                                <p class="program__description">Healthy Living</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Nature & Environment</p>
                            </li>
                            <li class="program__theme">
                                <p class="program__description">Money</p>
                            </li>
                        </ul>
                    </li>
                    <li class="program__portion writing">
                        <p class="program__subject">— Writing</p>
                        <p class="program__description program__theme">Formal Letter</p>
                    </li>
                </ul>
            </li>

            <li class="program__item">
                <p class="program__period">5 семестр</p>
                <p class="program__subject">—</p>
                <p class="program__description program__theme">Revision <br> Tests</p>
            </li>

        </ul>
    </div>
</section>