<section class="program">
    <div class="container">
        <h2 class="program__title">Наша программа</h2>
        <ul class="program__list">
            <li class="program__item">
                <p class="program__period">1 семестр</p>
                <p class="program__type">Grammar</p>
                <p class="program__discr">Nouns & Articles<br>Adjectives & Adverb</p>
                <p class="program__type">Vocabulary</p>
                <p class="program__discr">Family & Relations<br>People & Society</p>
            </li>
            <li>
                <p class="program__period">2 семестр</p>
                <p class="program__type">Grammar</p>
                <p class="program__discr">Pronouns<br>Active Voice<br>Passive Voice</p>
                <p class="program__type">Vocabulary</p>
                <p class="program__discr">Home<br>School<br>Work</p>
            </li>
            <li>
                <p class="program__period">3 семестр</p>
                <p class="program__type">Grammar</p>
                <p class="program__discr">Modal verbs<br>Infinitive<br>Gerund<br>Participle: 1, 2</p>
                <p class="program__type">Vocabulary</p>
                <p class="program__discr">Travel & Tourism<br>Culture & Free Time<br>Sport</p>
                <p class="program__type">Writing</p>
                <p class="program__discr">Informal Letter</p>
            </li>
            <li>
                <p class="program__period">4 семестр</p>
                <p class="program__type">Grammar</p>
                <p class="program__discr">Clauses: Conditional and Wishes<br>Direct / Reported
                    speech<br>Preposition<br>Conjunction<br>Numeral
                </p>
                <p class="program__type">Vocabulary</p>
                <p class="program__discr">Healthy Living<br>Nature & Environment<br>Money</p>
                <p class="program__type">Writing</p>
                <p class="program__discr">Formal Letter</p>
            </li>
            <li>
                <p class="program__period">5 семестр</p>
                <p>Revision Tests</p>
            </li>
        </ul>

        <img class="program__img" src="./images/program/program_img_176.jpg"
            srcset="./images/program/program_img_352.jpg 1x, 	./images/program/program_img_760.jpg 2x"
            alt="Группа студентов">

    </div>
</section>