<section class="reviews wow fadeInUp">
  <div class="container reviews__container">
    <h2 class="reviews__title">Отзывы выпускников</h2>

    <div class="slider__list">
      <article class="slider__item slider__item-one">
        <div class="slider__ava-wrapper">
          <img
            class="slider__item-photo"
            srcset="images/reviewes/item-6-big.jpg 1x, images/reviewes/item-6@2x.jpg 2x"
            src="images/reviewes/item-6-big.jpg"
            alt=""
          />
          <a href="https://facebook.com">
            <svg class="slider__item-icon" width="30" height="30">
              <use href="images/symbol-defs-optimized.svg#facebook2"></use>
            </svg>
          </a>
        </div>
        <div class="slider__text-wrapper">
          <h3 class="slider__item-name">Тоня Кучеровская</h3>
          <p class="slider__item-post">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </p>
          <p class="slider__item-text">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен<span id="dots">...</span
            ><span id="more"
              >т належного рiвня. Всiм рекомендую. Супер-супер!! Олена - чудовий вчитель!!
            </span>
            <button class="slider__text-btn" onclick="myFunction()" id="myBtn">
              Читать дальше
            </button>
          </p>
        </div>
      </article>
      <!-- <article class="slider__item slider__item-two">
        <div class="slider__ava-wrapper">
          <img
            class="slider__item-photo"
            srcset="images/reviewes/item-2-big.jpg 1x, images/reviewes/item-2@2x.jpg 2x"
            src="images/reviewes/item-2-big.jpg"
            alt=""
          />
          <a href="https://facebook.com">
            <svg class="slider__item-icon" width="30" height="30">
              <use href="images/symbol-defs-optimized.svg#facebook2"></use>
            </svg>
          </a>
        </div>
        <div class="slider__text-wrapper">
          <h3 class="slider__item-name">Зоя Космодемьянская</h3>
          <p class="slider__item-post">Студентка Национаьной Академии им. Каразина</p>
          <p class="slider__item-text">
            Всем советую курс. Всё очень понравилось <span id="dots">...</span
            ><span id="more"> Иногда было легко. Иногда - неочень. Но всегда продуктивно! </span>
            <button class="slider__text-btn" onclick="myFunction()" id="myBtn">
              Читать дальше
            </button>
          </p>
        </div>
      </article>
      <article class="slider__item slider__item-three">
        <div class="slider__ava-wrapper">
          <img
            class="slider__item-photo"
            srcset="images/reviewes/item-3-big.jpg 1x, images/reviewes/item-3@2x.jpg 2x"
            src="images/reviewes/item-3-big.jpg"
            alt=""
          />
          <a href="https://facebook.com">
            <svg class="slider__item-icon" width="30" height="30">
              <use href="images/symbol-defs-optimized.svg#facebook2"></use>
            </svg>
          </a>
        </div>
        <div class="slider__text-wrapper">
          <h3 class="slider__item-name">Аглая Котонян</h3>
          <p class="slider__item-post">
            Выпуск 2010-го года, Національний університет біоресурсів і природокористування України
          </p>
          <p class="slider__item-text">
            Быстро пополнила словарный запас, и многое стала понимать в текстах и фильмах. Супер!!!
            <span id="dots">...</span><span id="more">Всем рекомендую. Всем советую!</span>
            <button class="slider__text-btn" onclick="myFunction()" id="myBtn">
              Читать дальше
            </button>
          </p>
        </div>
      </article>
      <article class="slider__item slider__item-four">
        <div class="slider__ava-wrapper">
          <img
            class="slider__item-photo"
            srcset="images/reviewes/item-4-big.jpg 1x, images/reviewes/item-4@2x.jpg 2x"
            src="images/reviewes/item-4-big.jpg"
            alt=""
          />
          <a href="https://facebook.com">
            <svg class="slider__item-icon" width="30" height="30">
              <use href="images/symbol-defs-optimized.svg#facebook2"></use>
            </svg>
          </a>
        </div>
        <div class="slider__text-wrapper">
          <h3 class="slider__item-name">Муся Подгородецкая</h3>
          <p class="slider__item-post">Менеджер на производственном предприятии</p>
          <p class="slider__item-text">
            Мне просто необходим английский. По своей работе часто приходится общаться с
            иностранными поставщиками, и нужно было быстро выучить разговорный язык и грамматику
            <span id="dots">...</span
            ><span id="more"> Теперь шеф меня хвалит. Работа теперь продуктивнее стала</span>
            <button class="slider__text-btn" onclick="myFunction()" id="myBtn">
              Читать дальше
            </button>
          </p>
        </div>
      </article>
      <article class="slider__item slider__item-five">
        <div class="slider__ava-wrapper">
          <img
            class="slider__item-photo"
            srcset="images/reviewes/item-5-big.jpg 1x, images/reviewes/item-5@2x.jpg 2x"
            src="images/reviewes/item-5-big.jpg"
            alt=""
          />
          <a href="https://facebook.com">
            <svg class="slider__item-icon" width="30" height="30">
              <use href="images/symbol-defs-optimized.svg#facebook2"></use>
            </svg>
          </a>
        </div>
        <div class="slider__text-wrapper">
          <h3 class="slider__item-name">Ася Амосова</h3>
          <p class="slider__item-post">
            Выпуск 2012-го года, Національний університет біоресурсів і природокористування України
          </p>
          <p class="slider__item-text">
            Было учиться нелегко, но приятно и интересно. Рекомендую! <span id="dots">...</span
            ><span id="more"> Атмосфера теплая, радушная. Легко было на занятиях.</span>
            <button class="slider__text-btn" onclick="myFunction()" id="myBtn">
              Читать дальше
            </button>
          </p>
        </div>
      </article>
      <article class="slider__item slider__item-six">
        <div class="slider__ava-wrapper">
          <img
            class="slider__item-photo"
            srcset="images/reviewes/item-1-big.jpg 1x, images/reviewes/item-1@2x.jpg 2x"
            src="images/reviewes/item-1-big.jpg"
            alt=""
          />

          <a href="https://facebook.com">
            <svg class="slider__item-icon" width="30" height="30">
              <use href="images/symbol-defs-optimized.svg#facebook2"></use>
            </svg>
          </a>
        </div>
        <div class="slider__text-wrapper">
          <h3 class="slider__item-name">Люся Космическая</h3>
          <p class="slider__item-post">Студентка Национальной Аграрной Академии</p>
          <p class="slider__item-text">
            Так всё супер, Так всё супер!!! Преподаватели - просто душки!! Так легко объясняют и
            обучают <span id="dots">...</span><span id="more">, что любой поймёт. Даже я))))</span>
            <button class="slider__text-btn" onclick="myFunction()" id="myBtn">
              Читать дальше
            </button>
          </p>
        </div>
      </article>
      <article class="slider__item slider__item-seven">
        <div class="slider__ava-wrapper">
          <img
            class="slider__item-photo"
            srcset="images/reviewes/item-7-big.jpg 1x, images/reviewes/item-7@2x.jpg 2x"
            src="images/reviewes/item-1-big.jpg"
            alt=""
          />
          <a href="https://facebook.com">
            <svg class="slider__item-icon" width="30" height="30">
              <use href="images/symbol-defs-optimized.svg#facebook2"></use>
            </svg>
          </a>
        </div>
        <div class="slider__text-wrapper">
          <h3 class="slider__item-name">Таня Фролова</h3>
          <p class="slider__item-post">
            Студентка Национальной Академии Городского Хозяйства Украины
          </p>
          <p class="slider__item-text">
            Долго искала курсы. Наконец, нашла. И не прогадала! Легко и интересно учиться! Всем
            рекомендую! <span id="dots">...</span><span id="more">Моя оценка 5 из 5.</span>
            <button class="slider__text-btn" onclick="myFunction()" id="myBtn">
              Читать дальше
            </button>
          </p>
        </div>
      </article> -->
    </div>

    <!-- стрелочки назад и вперед -->
    <a class="slider__control slider__control-prev" href="" role="button">
      <svg
        width="27"
        height="16"
        viewBox="0 0 27 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26 7C26.5523 7 27 7.44772 27 8C27 8.55228 26.5523 9 26 9V7ZM0.292892 8.70711C-0.0976315 8.31658 -0.0976315 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41421 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM26 9H1V7H26V9Z"
          fill="#FF6B09"
        />
      </svg>
    </a>
    <a class="slider__control slider__control-next" href="" role="button">
      <svg
        width="27"
        height="16"
        viewBox="0 0 27 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM26.7071 8.70711C27.0976 8.31658 27.0976 7.68342 26.7071 7.29289L20.3431 0.928932C19.9526 0.538408 19.3195 0.538408 18.9289 0.928932C18.5384 1.31946 18.5384 1.95262 18.9289 2.34315L24.5858 8L18.9289 13.6569C18.5384 14.0474 18.5384 14.6805 18.9289 15.0711C19.3195 15.4616 19.9526 15.4616 20.3431 15.0711L26.7071 8.70711ZM1 9H26V7H1V9Z"
          fill="#FF6B09"
        />
      </svg>
    </a>
    <ul class="slider__indic-list">
      <li class="slider__indic-item">
        <a href="" class="slider__link">
          <img src="/images/reviewes/item-6.jpg" alt="" width="54" class="slider__img" />
        </a>
      </li>
      <li class="slider__indic-item">
        <a href="" class="slider__link">
          <img src="/images/reviewes/item-2.jpg" alt="" width="54" class="slider__img" />
        </a>
      </li>
      <li class="slider__indic-item">
        <a href="" class="slider__link">
          <img src="/images/reviewes/item-3.jpg" alt="" width="54" class="slider__img" />
        </a>
      </li>
      <li class="slider__indic-item slider__indic-nonmobile">
        <a href="" class="slider__link">
          <img src="/images/reviewes/item-4.jpg" alt="" width="54" class="slider__img" />
        </a>
      </li>
      <li class="slider__indic-item slider__indic-nonmobile">
        <a href="" class="slider__link">
          <img src="/images/reviewes/item-5.jpg" alt="" width="54" class="slider__img" />
        </a>
      </li>
      <li class="slider__indic-item slider__indic-nonmobile">
        <a href="" class="slider__link">
          <img src="/images/reviewes/item-1.jpg" alt="" width="54" class="slider__img" />
        </a>
      </li>
      <li class="slider__indic-item slider__indic-nonmobile">
        <a href="" class="slider__link">
          <img src="/images/reviewes/item-7.jpg" alt="" width="54" class="slider__img" />
        </a>
      </li>
    </ul>
  </div>
</section>
