.benefits {
    padding-top: 50px;
    margin-top: 0;
    background-image: linear-gradient(
    to bottom,
    $black-background 70%,
    $white-color 70%);
        @media screen and (min-width: $tablet){
            margin-top: 0;
            background-image: linear-gradient(
        to bottom,
        $black-background 59%,
        $white-color 59%);
        padding-top: 111px;

        }
        @media screen and (min-width: $desktop){
            background-image: linear-gradient(
        to bottom,
        $black-background 58%,
        $white-color 58%);
        padding: 35px 82px 35px 84px;
        
        }

}

.container__ben{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 0;
    

    

    @media screen and (min-width: $tablet){
        display: flex;
        max-width: 768px;
        flex-direction: column;
        padding-bottom: 0;
        // padding-left: 0;
        // padding-right: 0;
        }
    @media screen and (min-width: $desktop){
        max-width: 1280px;
        padding-left: 0;
        padding-right: 0;
        }
}

.benefits__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
    color: $white-color;
    width: 180px;
    margin-bottom: 30px;
    z-index: 99;
    @media screen and (min-width: $tablet){
        width: 100%;
        text-align: center;
        font-size: 26px;
        line-height: 1.307;
        padding-top: 50px;
    }
    @media screen and (min-width: $desktop){
        
        display: none;
    }
}

.title__wrap{
    background-color: transparent;
    @media screen and (min-width: $tablet){
        display: flex;
        width: 100%;
        text-align: center;
    }
}

.benefits__list {
    counter-reset: item;
    list-style-type: none;
    color: $accent;
    padding-left: 30px;
    padding-right: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $white-color;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    margin-top: -20px;
    @media screen and (min-width: $tablet){
        // width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 78px;
    padding-right: 118px;
    pading-bottom: 25px;
    //margin-left: -20px;
   
    }
    @media screen and (min-width: $desktop){
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 84px;
        padding-right: 82px;
        z-index: 101;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
    }
}

.benefits__item {
    margin-top: 20px;
    @media screen and (min-width: $tablet){
    flex-basis: calc((100% - 40px) / 2);
    margin-top: 30px;
    margin-left: 20px;
    }
    @media screen and (min-width: $desktop){
        font-size: 20px;
        line-height: 1.4;
        flex-basis: calc((100% - 120px) / 3);
        margin-left: 40px;
        margin-top: 32px;
    }
    &:before {
        content: counter(item, decimal-leading-zero) " "; 
        counter-increment: item;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.643;
        margin-left: 20px;
        @media screen and (min-width: $tablet) {
            margin-left: 25px;
        }
        @media screen and (min-width: $desktop) {
        font-size: 20px;
        margin-left: 32px;
        }
    }
    
}

.benefits__dash {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.643;
    margin: 0;
    padding: 0;
    top: 100px;
    position: relative;
    left: -40px;
    top: 0;
    @media screen and (min-width: $tablet){
        left: -47px;
        }
        @media screen and (min-width: $desktop){
        font-size: 20px;
        left: -64px;
        }
}

.benefits__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.429;
    align-items: center;
    letter-spacing: 0.08em;
    color: $main-text;
    margin-top: 10px;
    
    @media screen and (min-width: $tablet){
       
    }
    @media screen and (min-width: $desktop){
        
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 0;
        margin-top: 0;
        
    }
}

