.benefits {
    padding-top: 0;
    background-image: linear-gradient(
        to bottom,
        $black-background 66%,
        #fff 63%);
        @media screen and (min-width: $tablet){
            background-image: linear-gradient(
        to bottom,
        $black-background 45%,
        #fff 45%);
        }
        @media screen and (min-width: $desktop){
            background-image: linear-gradient(
        to bottom,
        $black-background 50%,
        #fff 50%);
        }

}

.container__ben{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 0;

    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @media screen and (min-width: $tablet){
        display: flex;
        max-width: 768px;
        flex-direction: column;
        }
    @media screen and (min-width: $desktop){
        max-width: 1280px;
        }
}

.benefits__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 180px;
    margin-bottom: 30px;
    @media screen and (min-width: $tablet){
        width: 100%;
        text-align: center;
        font-size: 26px;
        line-height: 1.307;
    }
    @media screen and (min-width: $desktop){
        visibility: hidden;
    }
}

.title__wrap{
    background-color: transparent;
    @media screen and (min-width: $tablet){
        display: flex;
        width: 100%;
        text-align: center;
    }
}

.benefits__list {
    counter-reset: item;
    list-style-type: none;
    color: $accent;
    padding-left: 30px;
    padding-right: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    @media screen and (min-width: $tablet){
        width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 98px;
    padding-right: 118px;
    }
    @media screen and (min-width: $desktop){
        padding-top: 38px;
        padding-bottom: 38px;
        padding-left: 84px;
        padding-right: 82px;
    }
}

.benefits__item {
    @media screen and (min-width: $tablet){
    flex-basis: calc(50% - 20px);
    margin-top: 30px;
    }
    @media screen and (min-width: $desktop){
        font-size: 20px;
        line-height: 1.4;
        flex-basis: calc(33.33333% - 20px);
        margin-top: 32px;
        margin-bottom: 20px;
    }
    &:before {
        content: counter(item, decimal-leading-zero) " "; 
        counter-increment: item;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.643;
        margin-left: 20px;
        @media screen and (min-width: $tablet) {
            margin-left: 25px;
        }
        @media screen and (min-width: $desktop) {
        font-size: 20px;
        margin-left: 32px;
        }
    }
    
}

.benefits__dash {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.643;
    margin: 0;
    padding: 0;
    top: 100px;
    position: relative;
    left: -40px;
    top: 0;
    @media screen and (min-width: $tablet){
        left: -47px;
        }
        @media screen and (min-width: $desktop){
        font-size: 20px;
        left: -64px;
        }
}

.benefits__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.429;
    align-items: center;
    letter-spacing: 0.08em;
    color: $main-text;
    margin-top: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop){
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 0;
        
    }
}