.footer {
    background-image: linear-gradient(to top,
    $black-background 27%,
    rgba(255,255,255,1) 27%);

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(to top,
        $black-background 35%,
        rgba(255,255,255,1) 35%);
    }

    @media screen and (min-width: $desktop) {
        background-image: linear-gradient(to top,
        $black-background 30%,
        rgba(255,255,255,1) 30%);
    }
}

.footer__logotop {
    display: flex;
    align-items: center;
}

.footer__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 53px 0;
        position: relative;
    }
}

.footer__logomain {
    @extend %logo-text;
    color: $main-text;
    
}

.footer__logoadd {
    @extend %logo-text;
    text-transform: uppercase;
    color: $main-text;
}

.footer__logotext {
    @extend %logo-sub;
    color: $main-text;
    margin-top: 5px;
}

.logo__icon {
    fill: $accent;
    object-fit: contain;
    width: 25px;
    height: 30px;
}

.footer__logotext--painted {
    @media screen and (min-width: $tablet) {
        color:$accent;        
    }
}

.footer__contacts {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        margin-top: 20px;
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer__item:last-child {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
    }
}

.footer__tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: $main-text;
    display: flex;
    align-items: center;

    @media screen and (min-width: $tablet) {
        font-size: 20px;
        line-height: 24px;
        padding-right: 24px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 30px;
        line-height: 37px;
    }
}

.footer__tel-icon {
    fill: $accent;
    margin-right: 10px;
    width: 20px;
    height: 19px;
    
    @media screen and (min-width: $tablet) {
        width: 24px;
        height: 23px;
    }

    @media screen and (min-width: $tablet) {
        width: 30px;
        height: 29px;
    }
}

.footer__instagram-icon {
    @media screen and (min-width: $tablet) {
        border-left: 1px solid $grey-text;
        padding-left: 24px;
    }
}

.footer__copyright {
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: $grey-text;

    @media screen and (max-width: 767px){
        text-align: center;        
    }

    @media screen and (min-width: $tablet) {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}