.guarantee__container {
    
}

.guarantee__title {
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    color: $main-text;
    text-align: center;

    @media screen and (min-width: $desktop) {
        font-size: 46px;
    }
}

.guarantee__list {
    background-color: $grey-background;    
    margin-top: 30px;
    padding: 30px 20px 31px 20px;

    @media screen and (min-width: $tablet){
        padding: 30px 50px 30px 79px;
    }

    @media screen and (min-width: $desktop){
        margin-top: 50px;
        padding: 50px 112px 45px 112px;
    }
}