.hero {
  padding-top: 60px;

  background-repeat: no-repeat;
  background-position: -250px 20px;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    padding-top: 70px;
    background-repeat: no-repeat;
    background-position: left 20px;
    background-size: cover;
    overflow-x: hidden;
  }

  @media screen and (min-width: $desktop) {
    position: relative;
    padding-top: 125px;
    height: 730px;

    background-image: url('../images/hero/hero-fon-3.png');
    background-repeat: no-repeat;
    background-position: 69% 90px;
    background-size: auto;
  }

  &__page-container {
    @media screen and (min-width: $tablet) and (max-width: 1279px) {
      margin: 0 auto;
      overflow: hidden;
    }
  }

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__wrapper {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  &__title {
    @extend %hero-t;
    font-size: 20px;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
      line-height: 130%;
      color: $main-text;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
      font-size: 58px;
      line-height: 130%;
      color: $main-text;
    }

    &--wrap {
      @media screen and (min-width: $desktop) {
        display: block;
      }
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
    margin-bottom: 30px;

    @media (min-width: $desktop) {
      line-height: 1.65;
      font-size: 20px;
      margin-bottom: 40px;
    }

    &--grey {
      font-weight: 500;
      color: $grey-text;
    }

    &--common {
      color: $main-text;
    }

    &--orange {
      color: $accent;
    }
  }

  &__link {
    margin: 0 auto;
    @extend %button-tablet-mobile;
    background-color: $accent;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;

    @media screen and (min-width: $tablet) {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 0;
      width: 260px;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }

    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 354px;
      padding: 25px;
      margin: 0;

      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.14em;
      text-transform: uppercase;
    }
  }

  &__thumb {
    @media screen and (min-width: 320px) and (max-width: 1279px) {
      position: relative;
      margin: 0 auto;
      width: 208px;
      height: 178px;
      background-image: url('../images/hero/hero-fon.png');
      background-position: left 10px;
      background-repeat: no-repeat;
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px) {
      position: relative;
      overflow: hidden;
      margin-left: auto;
      background-image: url('../images/hero/hero-fon-2.png');
      background-size: 376px 269px;
      background-position: left 19px;
      background-repeat: no-repeat;
      width: 376px;
      height: 321px;
    }

    @media screen and (min-width: $desktop) {
      position: absolute;
      right: 0;
      top: 100px;
      width: 756px;

      overflow: visible;
    }
  }

  &__img {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 178px;
      height: 100%;
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px) {
      position: absolute;
      left: 43px;
      top: 0;
      width: 321px;
      height: 100%;
    }
  }
}